
<html>
<body>
    <div class="memo-form">
      <h3>メモ内容</h3>
      <form action="{% url 'post' %}" method="post">
        {% csrf_token %}
        <div class="text-memo">
          {{ form.content }}　
        </div>

        <div class="post-form">
            <input type="submit" value="登録" class="post-botton">
        </div>
      </form>
    </div>


    <form action="{% url 'index' %}" method="post">
        {% csrf_token %}
        <div class="slct01">
<!--            ↓choicefieldになっている↓　　　　　　　　　　-->
            {{record_number_form.record_number}}
        </div>
    </form>

    <div class="top_box">
    {% for memo in page %}
    <div>
      <p>{{ memo.content }}</p>
        <!--　↓ここの記述  →  ポール"  |  " djangoフィルタという-->
      <p>{{ memo.update_datetime|date:"Y/m/d H:m:s" }}</p>
    </div>
    {% endfor %}
    </div>

    <div class="pagination">
    {% if page.has_previous %}

<!--        djangoはテンプレート内で演算はできない仕様になっているのでpage.previous_page_numberとかくnum-1とかはできなくてエラーになった。-->
            <a href="{% url 'index' %}{{page.previous_page_number}}">前へ</a>
        {% endif %}

<!--        ページ数の数だけイテレータを作ってnumに格納する。　page_rangeは一から始まるイテレータを作る。page.numberは一から始まる現在のページ数を-->
    {% for num in page.paginator.page_range %}


<!--        ページ数の数だけnumを生成して、下にページリストを作る-->
        {% if page.number == num %}
            <span class="current">{{page.number}}</span>
        {% else %}
<!--        現在のページ以外はそのページのリンクが必要なので、aタグで囲んで、そのページへのリンクを貼る-->
            <a href="{% url 'index' %}{{num}}">{{num}}</a>
        {% endif %}

    {% endfor %}


    {% if page.has_next %}
        <a href="{% url 'index' %}{{page.next_page_number}}">次へ</a>
    {% endif %}

    </div>


</body>
</html>